<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Système</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="compass"></ion-icon>
      <ion-label>Radar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
