<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Radar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Radar</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="shouldDisplayPositions()">

    <ion-item *ngFor="let pos of getPosList()">
      <ion-label>
        Latitude : {{pos.latitude}}
      </ion-label>
      <ion-label>
        Longitude : {{pos.longitude}}
      </ion-label>
      <ion-label>
        Date d'enregistrement : {{pos.timestamp | date: 'dd-MM-yyyy h:mm:ss'}}
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
