<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations système
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informations système</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <!-- <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item> -->

    <ion-item>
      <ion-label>
        Modèle : {{getModel()}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Plateforme : {{getPlatform()}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Système d'exploitation : {{getOs()}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Version du système : {{getOsVersion()}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        Constructeur : {{getManufacturer()}}
      </ion-label>
    </ion-item>


  </ion-list>

</ion-content>
