<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alertes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alertes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Create -->
  <ion-list>
    <ion-item>
      <ion-label>Titre</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="desc"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Date et heure de rappel</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="{{minDate}}" [(ngModel)]="date"></ion-datetime>
    </ion-item>

    <ion-button (click)="createAlert()">Créer l'alerte</ion-button>

  
  </ion-list>

  <!-- List -->

  <ion-grid>

    <ion-row>

      <ion-col *ngFor="let alert of getAlerts()">
        <ion-card>
          <ion-card-header>
            <ion-card-title>[{{alert.id}}] {{alert.title}}</ion-card-title>
            <ion-card-subtitle>{{alert.date | date: 'dd-MM-yyyy h:mm:ss'}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            {{alert.text}}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
